@charset "utf-8";

body {
    background-color: #CCC8CC;
}

.page {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.form-buttons {
    bottom: 20px;
    float: right;
    position: relative;
}

#content {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    width: 98%;
}

#contact-list {
    margin: 20px 0 20px 0;
}

.contact-list-item {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

legend {
    margin-bottom: 20px;
}

#footer {
    background: #000000;
    height: 40px;
}

.button_panel_div {
	float: right;
}

.content_table_div {
	clear: both;
}
.modal-backdrop.fade.in {
	opacity: 0.2;
}
.classoffering_compose_view_content_table input {
	width: 120px;
}
#alert-message-error,
#alert-message {
	display: block;
	position: fixed;
	top: 10px;
	right: 25%;
	width: 50%;
	z-index: 9999;
}